table {
	width: 100%;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 1rem;
}

table thead tr th,
table tbody tr td {
	padding: 1.25rem;
}

table thead tr th {
	background: var(--gradient);
}

/* table row width */
table thead tr th:nth-child(1) {
	width: 10%;
}

table thead tr th:nth-child(2) {
	width: 65%;
}

table thead tr th:nth-child(3) {
	width: 20%;
}

table thead tr th:nth-child(4) {
	width: 5%;
}
/* table row width */

table tbody tr td {
	background: var(--navigation-primary);
	text-align: center;
}

table tbody tr td.type {
	color: rgba(225, 0, 236, 1);
}

table tbody tr td i {
	background: var(--gradient);
	background-clip: text;
	color: transparent;
	font-size: 1.25rem;
	cursor: pointer;
}